:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);

    --font-family-primary: "Young Serif", serif;
    --font-family-secondary: "Outfit", sans-serif;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
.contents {
    padding: 40px 32px;
}
h1 {
    font-size: 36px;
    font-family: var(--font-family-primary);
    margin-bottom: 24px;
    line-height: 1;
}
h2 {
    font-family: var(--font-family-primary);
    color: var(--color-brown-800);
    margin-bottom: 16px;
}
h3 {
    font-family: var(--font-family-secondary);
    color: var(--color-rose-800);
    margin-bottom: 8px;
}
p {
    font-family: var(--font-family-secondary);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-stone-900);
}
hr {
    margin: 32px 0;
    color: var(--color-stone-100);
}
ul,
ol {
    list-style-position: outside;
    padding-left: 10px;
    margin: 0;
}
ul li,
ol li {
    font-family: var(--font-family-secondary);
    line-height: 1.5;
    margin-bottom: 8px;
    margin-left: 20px;
    padding-left: 20px;
}
.top-description {
    margin-bottom: 32px;
}
.preparation {
    padding: 24px;
    background-color: var(--color-rose-50);
    border-radius: 10px;
    margin-bottom: 24px;
}
.preparation ul {
    padding: 8px;
}
.preparation span {
    font-weight: var(--font-weight-700);
}
.preparation li::marker {
    color: var(--color-rose-800);
}
.ingredients li::marker {
    color: var(--color-brown-800);
}
.instructions li::marker {
    color: var(--color-brown-800);
    font-weight: var(--font-weight-600);
}
.instructions span {
    font-weight: var(--font-weight-700);
}
.nutrition p {
    margin-bottom: 24px;
}
.nutrition ul {
    padding: 0;
    margin: 0;
}
.nutrition li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-stone-150);
    text-indent: 0;
    margin-left: 0;
}
.nutrition li:last-child {
    border-bottom: none;
}
.nutrition li div {
    text-align: left;
    padding-left: 40px;
}
.title {
    color: var(--color-stone-600);
}
.quantity {
    color: var(--color-brown-800);
    font-weight: var(--font-weight-700);
}

@media (min-width: 768px) {
    body {
        background-color: var(--color-stone-100);
    }
    .container {
        display: flex;
        justify-content: center;
        margin: 80px auto;
    }
    .card {
        width: 45rem;
        background-color: var(--color-white);
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    }
    .img-container {
        padding: 40px 40px 0 40px;
    }
    img {
        border-radius: 10px;
    }
}
